/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
body {
  font-family: "Poppins", sans-serif !important;
}
.bg-header {
  background-color: #264653;
}

.btn {
  background-color: #e76f51 !important;
}
.honda-bike-collection {
  color: #e76f51;
}
.bike-gap {
  margin-top: 90px;
  margin-bottom: 90px;
}
.honda-happy-color {
  color: #0a0826;
}
.honda-clients-color {
  color: #e76f51;
}

.honda-icon {
  color: #e77c40;
}
.third-img {
  width: 220px;
  padding: 20px;
}
.frequently-asked {
  color: #0d0925;
}
.frequently-gap {
  margin-top: 90px;
  margin-bottom: 90px;
}
