/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
body {
  font-family: "Poppins", sans-serif !important;
}
/* header color  */
.bg-header {
  background-color: #264653;
}

.btn {
  background-color: #e76f51 !important;
}
/* main section  */
.bike-gap {
  margin-top: 90px;
  margin-bottom: 90px;
}
.honda-bike-collection {
  color: #e76f51;
}
/* happy clients section*/
.honda-happy-color {
  color: #0a0826;
}
.honda-clients-color {
  color: #e76f51;
}

.honda-icon {
  color: #e77c40;
}
.third-img {
  width: 220px;
  padding: 20px;
}
/* frequently asked section  */

.frequently-asked {
  color: #0d0925;
}
.frequently-gap {
  margin-top: 90px;
  margin-bottom: 90px;
}
/* extra part section */

:root {
  --main-bg: #e91e63;
}
input:focus,
button:focus {
  border: 1px solid var(--main-bg) !important;
  box-shadow: none !important;
}
.form-check-input:checked {
  background-color: var(--main-bg) !important;
  border-color: var(--main-bg) !important;
}
.card,
.btn,
input {
  border-radius: 0 !important;
}
.love-tittle {
  background-color: aqua;
}
